@import "fonts.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #48555b;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #ffffff;
  height: auto;
  /* overflow-x: hidden; */
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  color: #00a4e5;
  background: #f5f8fd;
  border: 2px solid #00a4e5;
}

.pos-rel {
  position: relative;
}

/*header*/
.bg__header {
  background: url(../img/bg-header.jpg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

.wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.header__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px 0 70px;
}

.logo__img {
  width: 102px;
}

.header__block {
  text-align: center;
}

.header__title {
  font-family: "'Abhaya Libre'", sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 5.7px;
  margin-bottom: 20px;
}

.header__text {
  font-weight: 600;
  font-size: 16px;
}

.header__scroll {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3.7px;
}

/* header__nav-block */
.header__line {
  margin: 30px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.header__nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__nav {
  display: flex;
}
.nav__item {
  margin-left: 15px;
}

.nav__link {
  font-weight: 600;
  font-size: 12px;
  color: #48555b;
  /* line-height: 16px; */
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #00a4e5;
}

/*about*/
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.3px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.about__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translate(-50%, 0);
}

/*about__block*/
.about__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.about__text-block {
  max-width: 425px;
  width: 100%;
  margin-top: 80px;
}

.about__text-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 30px;
  letter-spacing: 1.2px;
}

.about__text-name span {
  color: #16ace8;
}

.about__text-desc {
  font-size: 13px;
  line-height: 23px;
}

.about__img-block {
  max-width: 458px;
  width: 100%;
}

.about__img-list {
  display: flex;
  justify-content: space-between;
}

.about__img {
  position: relative;
}

.about__img span {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
}

/*service__block*/
.service__block {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 80px;
}

.service__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  position: absolute;
  left: 0;
  bottom: 15px;
}

.service__desc {
  max-width: 400px;
  width: 100%;
  margin: 0 20px;
}

.service__btn {
  width: 150px;
  height: 40px;
  padding: 10px;
  background: #00a4e5;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.service__item {
  width: 295px;
  padding: 30px 20px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
}

.service__item-img {
  margin-bottom: 25px;
}

.service__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.service__item-text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.19px;
}

.service__block-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

/*touch*/
.bg__touch {
  background: url(../img/bg-section.jpg) no-repeat center/cover;
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.touch__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: none;
  /* margin-top: 120px; */
  margin: 0 auto 45px;
  max-width: 350px;
  width: 100%;
}

/*newsletter*/
.bg__newsletter {
  background: #171819;
}

.newsletter__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  color: #ffffff;
}

.newsletter__title {
  margin-right: 70px;
}

.newsletter__form {
  display: flex;
  align-items: center;
}

.form-control {
  width: 250px;
  height: 40px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #979797;
}
